.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: url('@assets/images/bg2.svg');
	background-size: cover;
	background-position: center;

	&__formСontainer {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 610px;
		height: 700px;
		min-width: 100px;
	}

	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		z-index: 0;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		width: 100%;
		max-width: 446px;
		z-index: 1;
		background-color: var(--color-bg);
		box-shadow: 0px 0px 80px 100px var(--color-bg);
	}

	&__inputContainer {
		margin-block: 10px;
	}

	&__linkContainer {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

//стили для инпута ввода инфы

// обертка инпута (input__container)
.customInput__container {
	background-image: var(--gradient-input-grey);
	border-radius: 40px;

	// стили второй обертки инпута (input)
	& :nth-child(1) {
		height: 100%;
		margin-block: 0;
		background: none;

		// стили поля инпута (input__field)
		& :nth-child(1) {
		}
	}
}
