.resetPasswordSection {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-top: 200px;

	&__formSection {
		display: flex;
		flex-direction: column;
		gap: 10px;
		z-index: 1;
		align-items: center;
	}

	&__img {
		z-index: -5;
		position: absolute;
		width: 640px;
		height: 730px;
	}

	&__input {
		width: 444px;
		height: 64px;
	}

	&__title {
		display: flex;
		color: #3a2910;
		font-size: 24px;
		justify-content: center;
	}

	&__button {
		margin-left: 15px;

		&:hover {
			background-color: orange;
		}
	}
}
