{
	"trailingComma": "es5",
	"overrides": [
		{
			"files": ["*.json", "*.jsonc", ".*rc"],
			"options": {
				"trailingComma": "none"
			}
		}
	],
	"bracketSpacing": true,
	"bracketSameLine": false,
	"semi": true,
	"singleQuote": true,
	"useEditorConfig": true
}
