// форма логина регистрации и восстановления пароля
.authForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

	&__linkContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	&__title {
		font-size: 24px;
		font-family: var(--amagro);
		margin: 0;
	}
}

// наша страндартная кнопка
.button {
	background-image: var(--gradient-button);
	font-family: var(--amagro);
	font-size: 24px;
	color: var(--color-text-button);
	text-shadow: #110909 0px 0 2px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(58, 31, 12, 0.23);
	border-radius: 64px;
	padding: 16px 40px;
	cursor: pointer;

	&:hover {
		// тут бы что то придумать красивое
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&:focus,
	&:focus-visible {
		// пока криповый фокус
		outline: 4px auto -webkit-focus-ring-color;
	}
}

// класс для вопрос + ссылка куда по нему идти
.question {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__text {
		color: var(--color-text);
	}
	&__link {
		font-family: var(--metrika);
		color: var(--color-link);
		text-decoration: inherit;

		&:focus,
		&:focus-visible {
			outline: none;
		}
	}
}
