.exampleSection {
	display: grid;
	grid-template-columns: auto;
	align-items: center;
	grid-gap: 10px;
	justify-content: center;

	&__title {
		font-size: 30px;
		color: #000;
		text-align: center;
	}

	&__img {
		width: 150px;
	}

	&__text {
		margin: 0px;
		color: #000;
		text-align: center;
	}

	&__content {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		gap: 10px;
	}
}
