.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	margin: auto;
	padding: 25px;
	background-color: var(--color-bg-modal);
	border-radius: 64px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 64px;
}

.button {
	display: flex;
	width: 24px;
	height: 24px;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	margin-left: auto;
	padding: 0;
	transform: rotate(45deg);
}

.title {
	font-size: 36px;
	font-family: var(--amagro);
	font-weight: bold;
	margin: 0;
	padding-block-start: 110px;
}

.img {
	margin: auto;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 50px;
	padding-block-end: 160px;
}
