.button {
	background-image: var(--gradient-button);

	font-family: 'Amagro', sans-serif;
	font-size: 24px;
	color: var(--color-text-button);
	text-shadow: #110909 0px 0 2px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

	border: 1px solid #3a1f0c;
	border-radius: 64px;
	padding: 16px 40px;
	cursor: pointer;

	&:disabled {
		background-color: #d6d6d6;
		cursor: not-allowed;
	}
}
