.header {
	display: flex;
	justify-content: center;
	height: var(--header-height);
	width: 100%;
	padding-block: 15px;
	background: var(--gradient-header);

	&__menu {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		align-items: center;
		max-width: 680px;
	}

	&__linkContainer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		justify-content: center;
	}

	&__logoContainer {
		max-width: 70px;
		max-height: 70px;
	}

	&__logo {
		width: 100%;
	}

	&__link {
		font-family: var(--amagro);
		font-weight: bold;
		font-size: 20px;
		color: transparent;
		background-clip: text;
		background-image: var(--gradient-link);
		transition: 0.3s;

		&_active {
			text-decoration: underline;
			text-decoration-color: #423d39;
			text-underline-offset: 5px;
			text-decoration-thickness: 2px;
		}

		&:hover {
			filter: drop-shadow(2px 4px 6px var(--color-black));
			transition: 0.3s;
		}
	}
}
