.input {
	box-sizing: border-box;
	width: 100%;
	height: 64px;
	margin-block: 10px;
	background: var(--gradient-input);
	border: none;
	border-radius: 40px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	outline: none;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	font-size: 16px;
	cursor: text;

	&__container {
		position: relative;
		width: 100%;
		font-family: var(--metrika);
	}

	&__field {
		padding-inline: 25px;
		appearance: none;
		background-color: transparent;
		border: none;
		overflow: hidden;
		text-overflow: ellipsis;
		font-family: inherit;
		font-size: inherit;
		height: 100%;
		color: var(--color-text-input);

		&:focus-visible {
			outline: none;
		}
		&:-webkit-autofill::first-line,
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			transition: background-color 5000s ease-in-out 0s;
			color: var(--color-text-input);
			appearance: none;
			outline: none;
			-webkit-background-clip: text;
			-webkit-text-fill-color: var(--color-text-input);
			font-size: inherit;
			font-family: inherit;
		}
	}

	&__icon {
		color: var(--color-icon);
		cursor: pointer;
		padding-inline-end: 25px;
		width: 45px;
		height: 45px;
	}

	&__label {
		font-size: 16px;
		color: var(--color-text-input);
	}

	&__error {
		background: rgba(255, 0, 0, 0.247);
	}

	&__errorMessage {
		position: absolute;
		top: 100%;
		left: 0;
		font-size: 14px;
		color: rgb(134, 22, 22);
	}

	::placeholder {
		color: var(--color-text-input);
	}
}
