@font-face {
	font-family: 'Amagro';
	src: url('assets/fonts/Amagro-bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Metrika';
	src: url('./assets/fonts/Metrika-Regular.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'EBGaramond';
	src: url('./assets/fonts/EBGaramond-ExtraBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--vh: 1vh; /* Фоллбэк */
	--vw: 1vw; /* Фоллбэк */

	box-sizing: border-box;

	/* размеры элементов */
	--header-height: 100px;
	--aside-width: 440px;

	/* кастомные свойства шрифтов */
	line-height: 1.5;
	font-weight: 400;
	--metrika: 'Metrika', sans-serif;
	--amagro: 'Amagro', sans-serif;
	--EBGaramond: 'EBGaramond', serif;

	/* кастомные свойства палитры */
	--color-black: #000;
	--color-white: #fff;
	--color-bg: #d8b692;
	--color-bg-modal: #d8b692;
	--color-bg-photo: #b18764;
	--color-link: #095a70;
	--color-link-active: #1081a0;
	--color-text: #3a2910;
	--color-title: #3a2910;
	--color-text-button: #ffe3af;
	--color-text-input: #5b401a;
	--color-accent: #b50707;
	--color-icon: #3a281b;
	--gradient-header: linear-gradient(
		to bottom,
		rgb(167, 131, 87) 1%,
		rgba(208, 167, 116, 0.9) 28%,
		rgba(208, 167, 116, 0.6) 50%,
		rgba(208, 167, 116, 0.9) 69%,
		rgb(167, 131, 87) 100%
	);
	--gradient-input: linear-gradient(
		to right,
		rgba(208, 167, 116, 0.75) 9%,
		rgba(238, 196, 145, 0.6) 23%,
		rgba(253, 208, 154, 0.6) 38%,
		rgba(253, 208, 154, 0.6) 61%,
		rgba(253, 208, 154, 0.6) 78%,
		rgba(208, 167, 116, 0.75) 93%
	);

	--gradient-input-grey: linear-gradient(
		to right,
		rgba(58, 31, 12, 0.2508) 0%,
		rgba(106, 72, 49, 0.3069) 17%,
		rgb(111, 77, 54, 0.33) 21%,
		rgb(130, 95, 71, 0.33) 35%,
		rgb(137, 105, 81, 0.33) 52%,
		rgb(130, 95, 71, 0.33) 57%,
		rgba(106, 72, 49, 0.3069) 85%,
		rgba(58, 31, 12, 0.2508) 100%
	);
	--gradient-button: linear-gradient(
		to right,
		rgba(58, 31, 12, 0.76) 0%,
		rgba(106, 72, 49, 0.93) 17%,
		rgb(111, 77, 54) 21%,
		rgb(130, 95, 71) 35%,
		rgb(137, 105, 81) 52%,
		rgb(130, 95, 71) 57%,
		rgba(106, 72, 49, 0.93) 85%,
		rgba(58, 31, 12, 0.76) 100%
	);
	--gradient-link: linear-gradient(to bottom, #423d39 0%, #544d48 28%, #645c56 49%, #423d39 71%);

	--gradient-beige-soft: linear-gradient(
		90deg,
		#a78357 1%,
		#d0a674 28%,
		#d0a674 49.5%,
		#d0a674 69.5%,
		#a78357 99.5%
	);

	--gradient-darker: linear-gradient(90deg, #896951 0%, #a88064 39%, #a88064 65.5%, #896951 97.5%);

	/* кастомные свойства, которые будем использовать для темизации */
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	--text-color: var(--color-dark);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-family: var(--metrika);
	color: var(--color-link);
	text-decoration: inherit;
}

a:active {
	color: var(--color-link-active);
}

body {
	margin: 0;
	background-color: var(--color-bg);
}

#root {
	width: 100%;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h2 {
	font-family: var(--amagro);
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	color: var(--color-title);
}

h3 {
	font-family: var(--metrika);
	font-size: 20px;
	text-align: center;
	color: var(--color-title);
	margin-block: 5px;
}
/* все стили кнопки перенесла в  common.module.scss 
ставьте кнопкам классы и пользуйтесь 
	тут только сброс стилей по умолчанию */
button {
	appearance: none;
	border: none;
	background: none;
	padding: 0;
}

button:focus,
button:active {
	outline: none;
}

/* что бы падинги не таращили */
*,
*::before,
*::after {
	box-sizing: border-box;
}

@supports (height: 100dvh) {
	:root {
		--vh: 1dvh; /* Если поддерживается dvh */
	}
}
