:root {
	/* кастомные свойства шрифтов */
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	/* кастомные свойства палитры */
	--color-dark: #1e1e1e;
	--color-black: #000;
	--color-light: #dde4fd;
	--color-white: #fff;
	--gradient: linear-gradient(to bottom, #dac9af, #c0b19a, #978b79, #6f604b);

	/* кастомные свойства, которые будем использовать для темизации */
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background: var(--gradient);

	--text-color: var(--color-white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
