.players {
	display: grid;
	min-height: 100%;
	grid-template-rows: min-content min-content min-content auto min-content;
	gap: 20px;
	padding-bottom: 20px;

	&__title {
		font-family: var(--metrika);
		font-size: 20px;
		margin: 0;
	}

	&__heroesList {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 40px;
		overflow-y: scroll;
	}
	// если надо будет стилизовать плашку героя
	// &__plate {
	// }
	// если надо будет стилизовать кнопку добавления героя
	// &__add {

	// }
}
